<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/estilo.css' />
  </head>
  <body>
    {% block body %}{% endblock %}
    <script src='https://code.jquery.com/jquery-3.1.1.min.js'></script>
    <script type="text/javascript" src="twigjs/twig.min.js"></script>
    <script type="text/javascript" src="javascripts/storage.js"></script>
    <script type="text/javascript" src="javascripts/controladorPedidoJQuery.js"></script>
    <script type="text/javascript" src="javascripts/vistaPedidoJQuery.js"></script>
  </body>
</html>
